<?xml version="1.0"?>
<!--
/**
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Open Software License (OSL 3.0)
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://opensource.org/licenses/osl-3.0.php
 *
 * @category   BL
 * @package    BL_CustomGrid
 * @copyright  Copyright (c) 2012 Benoît Leulliette <benoit.leulliette@gmail.com>
 * @license    http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 */
-->
<config>
    <tabs>
        <customgrid translate="label" module="customgrid">
            <label>Enhanced Admin Grids</label>
            <sort_order>110</sort_order>
        </customgrid>
    </tabs>
    <sections>
        <customgrid translate="label" module="customgrid">
            <label>Base Configuration</label>
            <tab>customgrid</tab>
            <frontend_type>text</frontend_type>
            <sort_order>10000</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>0</show_in_website>
            <show_in_store>0</show_in_store>
            <groups>
                <global translate="label" module="customgrid">
                    <label>General</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>0</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>0</show_in_website>
                    <show_in_store>0</show_in_store>
                    <fields>
                        <exclusions_list translate="label comment" module="customgrid">
                            <label>Global Exclusions</label>
                            <frontend_model>customgrid/system_config_form_field_grid_exceptions</frontend_model>
                            <backend_model>customgrid/system_config_backend_serialized_grid_exceptions</backend_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                            <comment><![CDATA[Global list of all the grids that must not be rewrited, mostly because of incompatibility problems. This list is likely to be completed in the next versions, whenever new incompatibilities are found.<br />Use " <strong>*</strong> " to match any number of characters, " <strong>.</strong> " to match exactly one character.]]></comment>
                        </exclusions_list>
                        <exceptions_list translate="label comment" module="customgrid">
                            <label>Complementary Exceptions</label>
                            <frontend_model>customgrid/system_config_form_field_grid_exceptions</frontend_model>
                            <backend_model>customgrid/system_config_backend_serialized_grid_exceptions</backend_model>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                            <comment><![CDATA[The behaviour of this list depends on the value of "<strong>Complementary Exceptions Handling Mode</strong>"<br />"<strong>Exclude</strong>" :<br />List here all the grids that should not be rewrited.<br />"<strong>Allow</strong>" :<br />List here only the grids that should be rewrited. Notice that if the list is empty, no grid at all will be rewrited.<br /><br />Use " <strong>*</strong> " to match any number of characters, " <strong>.</strong> " to match exactly one character.]]></comment>
                        </exceptions_list>
                        <exceptions_handling_mode translate="label" module="customgrid">
                            <label>Complementary Exceptions Handling Mode</label>
                            <frontend_type>select</frontend_type>
                            <source_model>customgrid/system_config_source_exceptions_handling_mode</source_model>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </exceptions_handling_mode>
                        <force_grid_rewrites translate="label comment" module="customgrid">
                            <label>Force Grid Rewrites</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>40</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                            <comment><![CDATA[Test this option when the customization button does not appear whereas it should (usually, when this error message is shown: "The [grid type] grid was not rewrited").]]></comment>
                        </force_grid_rewrites>
                        <store_parameter translate="label comment" module="customgrid">
                            <label>Store View ID Parameter</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>50</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                            <comment><![CDATA[Put here the name of the parameter where to look for store view IDs, it will be used when the current store view ID could not be found in the rewrited grid.<br />If none is set, "<strong>store</strong>" value will be used.]]></comment>
                        </store_parameter>
                        <sort_with_dnd translate="label comment" module="customgrid">
                            <label>Use drag'n'drop for sorting columns</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>60</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                            <comment><![CDATA[Drag'n'drop is the most convenient way for sorting columns, but imposes their order number, and may be slow in some cases.<br />Choose "<strong>No</strong>" to specify columns orders numbers directly in corresponding text fields.]]></comment>
                        </sort_with_dnd>
                    </fields>
                </global>
                <custom_columns translate="label" module="customgrid">
                    <label>Custom Columns</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>1000</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>0</show_in_website>
                    <show_in_store>0</show_in_store>
                    <fields>
                        <group_in_default_header translate="label" module="customgrid">
                            <label>Add Group Name In Default Header</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </group_in_default_header>
                    </fields>
                </custom_columns>
                <customization_params translate="label" module="customgrid">
                    <label>Customization Parameters - Default Values</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>2000</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>0</show_in_website>
                    <show_in_store>0</show_in_store>
                    <fields>
                        <ignore_custom_headers translate="label" module="customgrid">
                            <label>Ignore Custom Headers (Base Grid Columns)</label>
                            <frontend_type>select</frontend_type>
                            <source_model>customgrid/system_config_source_yesno</source_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </ignore_custom_headers>
                        <ignore_custom_widths translate="label" module="customgrid">
                            <label>Ignore Custom Widths (Base Grid Columns)</label>
                            <frontend_type>select</frontend_type>
                            <source_model>customgrid/system_config_source_yesno</source_model>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </ignore_custom_widths>
                        <ignore_custom_alignments translate="label" module="customgrid">
                            <label>Ignore Custom Alignments (Base Grid Columns)</label>
                            <frontend_type>select</frontend_type>
                            <source_model>customgrid/system_config_source_yesno</source_model>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </ignore_custom_alignments>
                        <pagination_values translate="label comment" module="customgrid">
                            <label>Custom Pagination Values</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>40</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                            <comment><![CDATA[Numeric values separated by commas. If none is set, base pagination values will be used (ie 20, 30, 50, 100, 200)]]></comment>
                        </pagination_values>
                        <default_pagination_value translate="label comment" module="customgrid">
                            <label>Default Pagination Value</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>50</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                            <comment><![CDATA[This value will replace the original default value from the grids. If the default value (either this one or, if it is not set, the original) can not be found in the pagination values used for the current grid, the smallest available pagination value will be used by default]]></comment>
                        </default_pagination_value>
                        <merge_base_pagination translate="label comment" module="customgrid">
                            <label>Merge Base Pagination Values</label>
                            <frontend_type>select</frontend_type>
                            <source_model>customgrid/system_config_source_yesno</source_model>
                            <sort_order>60</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                            <comment><![CDATA[Choose "Yes" to make the base pagination values be added to the custom ones]]></comment>
                        </merge_base_pagination>
                        <pin_header translate="label" module="customgrid">
                            <label>Pin Pager And Mass-Actions Block</label>
                            <frontend_type>select</frontend_type>
                            <source_model>customgrid/system_config_source_yesno</source_model>
                            <sort_order>70</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </pin_header>
                    </fields>
                </customization_params>
                <custom_default_params translate="label" module="customgrid">
                    <label>Custom Default Parameters Behaviour - Default Values</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>3000</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>0</show_in_website>
                    <show_in_store>0</show_in_store>
                    <fields>
                        <page translate="label comment" module="customgrid">
                            <label>Page Number</label>
                            <frontend_type>select</frontend_type>
                            <source_model>customgrid/system_config_source_default_param_behaviour_scalar</source_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                            <comment><![CDATA[Forcing a value only applies when it does exist]]></comment>
                        </page>
                        <limit translate="label comment" module="customgrid">
                            <label>Page Size</label>
                            <frontend_type>select</frontend_type>
                            <source_model>customgrid/system_config_source_default_param_behaviour_scalar</source_model>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                            <comment><![CDATA[Forcing a value only applies when it does exist]]></comment>
                        </limit>
                        <sort translate="label comment" module="customgrid">
                            <label>Sort</label>
                            <frontend_type>select</frontend_type>
                            <source_model>customgrid/system_config_source_default_param_behaviour_scalar</source_model>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                            <comment><![CDATA[Forcing a value only applies when it does exist]]></comment>
                        </sort>
                        <dir translate="label comment" module="customgrid">
                            <label>Sort Direction</label>
                            <frontend_type>select</frontend_type>
                            <source_model>customgrid/system_config_source_default_param_behaviour_scalar</source_model>
                            <sort_order>40</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                            <comment><![CDATA[Forcing a value only applies when it does exist]]></comment>
                        </dir>
                        <filter translate="label comment" module="customgrid">
                            <label>Filters</label>
                            <frontend_type>select</frontend_type>
                            <source_model>customgrid/system_config_source_default_param_behaviour_array</source_model>
                            <sort_order>50</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                            <comment><![CDATA[Forcing or merging a value only applies when it does exist]]></comment>
                        </filter>
                    </fields>
                </custom_default_params>
                <!-- @todo with profiles system -->
                <!--
                <profiles translate="label" module="customgrid">
                    <label>Grids Profiles</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>4000</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>0</show_in_website>
                    <show_in_store>0</show_in_store>
                    <fields>
                    </fields>
                </profiles>
                -->
                <editor_sitemap translate="label" module="customgrid">
                    <label>Editor - Grid Type : Google Sitemap</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>100000</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>0</show_in_website>
                    <show_in_store>0</show_in_store>
                    <fields>
                        <delete_file translate="label" module="customgrid">
                            <label>Delete File Before Save</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </delete_file>
                    </fields>
                </editor_sitemap>
            </groups>
        </customgrid>
        <customgrid_rewriters translate="label comment" module="customgrid">
            <label>Rewriters Configuration</label>
            <tab>customgrid</tab>
            <frontend_type>text</frontend_type>
            <sort_order>10001</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>0</show_in_website>
            <show_in_store>0</show_in_store>
            <groups>
                <eval translate="label comment" module="customgrid">
                    <label>eval()ed Classes</label>
                    <comment><![CDATA[Rewriting classes are automatically eval()ed at runtime.<br /><strong>eval() must be available on your server</strong>.]]></comment>
                    <frontend_type>text</frontend_type>
                    <sort_order>10</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>0</show_in_website>
                    <show_in_store>0</show_in_store>
                    <fields>
                        <enabled translate="label" module="customgrid">
                            <label>Enabled</label>
                            <frontend_type>select</frontend_type>
                            <source_model>customgrid/system_config_source_yesno</source_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </enabled>
                        <priority translate="label comment" module="customgrid">
                            <label>Priority</label>
                            <comment><![CDATA[Rewriters with lower priority values are used first]]></comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </priority>
                        <display_errors translate="label" module="customgrid">
                            <label>Display Error Messages</label>
                            <frontend_type>select</frontend_type>
                            <source_model>customgrid/system_config_source_yesno</source_model>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </display_errors>
                        <display_errors_if_success translate="label" module="customgrid">
                            <label>Display Error Messages If Rewrite Success</label>
                            <frontend_type>select</frontend_type>
                            <source_model>customgrid/system_config_source_yesno</source_model>
                            <sort_order>40</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                            <depends><display_errors>1</display_errors></depends>
                        </display_errors_if_success>
                        <log_errors translate="label comment" module="customgrid">
                            <label>Log Error Messages</label>
                            <comment><![CDATA[Error messages are written to the exceptions log]]></comment>
                            <frontend_type>select</frontend_type>
                            <source_model>customgrid/system_config_source_yesno</source_model>
                            <sort_order>50</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </log_errors>
                        <log_errors_if_success translate="label" module="customgrid">
                            <label>Log Error Messages If Rewrite Success</label>
                            <frontend_type>select</frontend_type>
                            <source_model>customgrid/system_config_source_yesno</source_model>
                            <sort_order>60</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                            <depends><log_errors>1</log_errors></depends>
                        </log_errors_if_success>
                    </fields>
                </eval>
                <file translate="label" module="customgrid">
                    <label>Auto-generated Class Files</label>
                    <comment><![CDATA[Rewriting classes are automatically generated in corresponding files inside the <span>app/code/community/BL/CustomGrid/Block/Rewrite</span> directory.<br />Each file is only re-generated when the rewrite code is significantly changed.<br /><strong>Check your folder permissions before using this method.</strong>]]></comment>
                    <frontend_type>text</frontend_type>
                    <sort_order>20</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>0</show_in_website>
                    <show_in_store>0</show_in_store>
                    <fields>
                        <enabled translate="label" module="customgrid">
                            <label>Enabled</label>
                            <frontend_type>select</frontend_type>
                            <source_model>customgrid/system_config_source_yesno</source_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </enabled>
                        <priority translate="label comment" module="customgrid">
                            <label>Priority</label>
                            <comment><![CDATA[Rewriters with lower priority values are used first]]></comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </priority>
                        <display_errors translate="label" module="customgrid">
                            <label>Display Error Messages</label>
                            <frontend_type>select</frontend_type>
                            <source_model>customgrid/system_config_source_yesno</source_model>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </display_errors>
                        <display_errors_if_success translate="label" module="customgrid">
                            <label>Display Error Messages If Rewrite Success</label>
                            <frontend_type>select</frontend_type>
                            <source_model>customgrid/system_config_source_yesno</source_model>
                            <sort_order>40</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                            <depends><display_errors>1</display_errors></depends>
                        </display_errors_if_success>
                        <log_errors translate="label comment" module="customgrid">
                            <label>Log Error Messages</label>
                            <comment><![CDATA[Error messages are written to the exceptions log]]></comment>
                            <frontend_type>select</frontend_type>
                            <source_model>customgrid/system_config_source_yesno</source_model>
                            <sort_order>50</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </log_errors>
                        <log_errors_if_success translate="label" module="customgrid">
                            <label>Log Error Messages If Rewrite Success</label>
                            <frontend_type>select</frontend_type>
                            <source_model>customgrid/system_config_source_yesno</source_model>
                            <sort_order>60</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                            <depends><log_errors>1</log_errors></depends>
                        </log_errors_if_success>
                    </fields>
                </file>
            </groups>
        </customgrid_rewriters>
    </sections>
</config>